<!-- fragments/header.html -->
<!-- head fragment -->
<head th:fragment="head(title)">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${title}">S.LAB</title>
  <!-- CDN Semantic UI CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <!-- 커스텀 CSS -->
  <link rel="stylesheet" href="/css/common.css">
</head>

<!-- header fragment -->
<div th:fragment="header">
  <div class="ui fixed menu">
    <div class="ui container"
         style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
      <a href="/dashboard" class="header item main-logo"
         style="display: flex; height: 30px;">
        <img src="/images/로고_압축.png" alt="로고" class="ui" style="height: 30px">
        <span class="" style="margin-left: 5px; font-weight: bold; color: black;">SAECHAN LAB</span>
      </a>
      <div class="right menu">
        <div class="ui dropdown item" style="margin-left: auto;">
          <i class="bars icon large"></i>
          <div class="menu">
            <div class="item disabled">메뉴</div>
            <a href="/dashboard" class="item">
              <i class="clipboard list icon"></i> 대시보드
            </a>
            <div class="divider"></div>
            <a href="/logout" class="item">
              <i class="sign-out alternate icon"></i> 로그아웃
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 헤더 아래 여백 -->
  <div class="ui container" style="margin-top: 5em;"></div>
</div>
