<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head(title='대시보드-SAECHAN-LAB')"></head>
<body class="dashboard-page">
<div th:replace="fragments/header :: header"></div>

<div class="ui container">
  <div class="ui segment">
    <h3 class="ui header">대시보드</h3>
  </div>

  <!-- 기능 목록 카드-->
  <div class="ui segment">
    <h3 class="ui header">목록</h3>
    <div class="ui two column stackable grid">
      <div class="column">
        <div class="ui fluid card">
          <div class="content">
            <div class="header"><i class="github icon"></i>깃헙 이슈 도우미</div>
            <div class="meta">
              <span class="category">Git Helper</span>
            </div>
            <div class="description">
              커밋, 브랜치 자동 생성
            </div>
          </div>
          <div class="extra content">
            <a href="/issue-helper" class="ui blue fluid button">
              <i class="arrow alternate circle right icon"></i>
              <span class=""> 바로가기</span>
            </a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui fluid card">
          <div class="content">
            <div class="header"> <i class="comment alternate icon"></i>OpenAI 챗봇</div>
            <div class="meta">
              <span class="category">AI Assistant</span>
            </div>
            <div class="description">
              OpenAI GPT
            </div>
          </div>
          <div class="extra content">
            <a href="https://chat.suhsaechan.me" class="ui blue fluid button">
              <i class="arrow alternate circle right icon"></i>
              <span class=""> 바로가기</span>
            </a>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="ui fluid card">
          <div class="content">
            <div class="header"> <i class="comment alternate icon"></i>OpenAI 챗봇</div>
            <div class="meta">
              <span class="category">AI Assistant</span>
            </div>
            <div class="description">
              OpenAI GPT
            </div>
          </div>
          <div class="extra content">
            <a href="https://chat.suhsaechan.me" class="ui blue fluid button">
              <i class="arrow alternate circle right icon"></i>
              <span class=""> 바로가기</span>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>